{% extends "publico/base_publico.html" %} 

{% load static %}

{% block publico-content %}

 <h3 class="text-center">NUESTRAS OFICINAS

 </h3> 
    <p class="text-center" >Diseñamos soluciones de logística integral en Mensajería expresa y paqueteo  a su medida con presencia <br>
        competitiva en los diferentes sectores económicos y con amplio  cubrimiento nacional.
    </p>
    <center><img src="{% static 'img/sede.gif' %}" alt="200" width="700" ></center>
        


<article class="grid-container">

<div class="grid-x grid-margin-x">
    <div class="medium-4 cell">
      <h4>BOGOTÁ</h4>
      <p class="subheader">Dg. 79a bis 53-50, Barrio Gaitán <br>
        Teléfono: +57 302 2456704  <br>
        Teléfono: +571 8903906</p>
    </div>
    <div class="medium-4 cell">
      <h4>CARTAGENA</h4>
      <p class="subheader">Calle 30 D transversal 68 – 15 <br>
        Edificio Latitud 13 Oficina 401 <br>
        Barrio Villa Sandra <br>
        Teléfono: +571 8903906.</p>
    </div>
    <div class="medium-4 cell">
      <h4>MEDELLÍN</h4>
      <p class="subheader">Carrera 80 #35-09 Oficina 202 <br>
        Barrio Laureles <br>
        Teléfono: +571 8903906</p>
    </div>
    <div class="medium-4 cell">
        <h4>BUCARAMANGA</h4>
        <p class="subheader">Carrera 80 #35-09 Oficina 202 <br>
          Barrio Laureles <br>
          Teléfono: +571 8903906</p>
      </div>
      <div class="medium-4 cell">
        <h4>CALI</h4>
        <p class="subheader">Carrera 80 #35-09 Oficina 202 <br>
          Barrio Laureles <br>
          Teléfono: +571 8903906</p>
      </div>
      <div class="medium-4 cell">
        <h4>EJE CAFETERO</h4>
        <p class="subheader">Carrera 80 #35-09 Oficina 202 <br>
          Barrio Laureles <br>
          Teléfono: +571 8903906</p>
      </div>
      <div class="medium-4 cell">
        <h4>BARRANQUILLA</h4>
        <p class="subheader">Carrera 80 #35-09 Oficina 210 <br>
          Barrio Laureles <br>
          Teléfono: +571 8903906</p>
      </div>
      
  </div>
  
</article>



{% endblock publico-content %}